p1{
    color:rgb(50, 158, 230);
    font-size:large;
    font-family:"Kablammo";
    
}

h2{
    color:rgb(123, 211, 211);
    font-size:large;
    font-family:"Kablammo";
    
}

p{
    color:rgb(9, 12, 172);
    font-size:large;
    
}


body{
    color:rgb(79, 22, 133);
    background-color:rgb(198, 241, 241);

}

Img{
    width: 200px;

}

font{
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
  }


div{
    max-width: 600px;
    margin:auto
}