p1{
    color:blueviolet;
    font-size:large;
    font-family:"Kablammo";
    
}

h2{
    color:rgb(105, 50, 156);
    font-size:large;
    font-family:"Kablammo";
    
}

p{
    color:rgb(93, 9, 172);
    font-size:large;
    
}


body{
    color:blueviolet;
    background-color:rgb(198, 241, 241);

}

Img{
    width: 200px;

}

font{
    font-family: "Kablammo", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 0;
  }


div{
    max-width: 600px;
    margin:auto
}